Flask==0.10.1
Flask-SQLAlchemy==2.0
PyMySQL==0.6.3
SQLAlchemy==0.9.8
MySQL-python==1.2.3
Flask-OAuth==0.12
Flask-Login==0.2.11
Flask-Mail==0.9.1
WTForms==2.0.2
Flask-WTF==0.12
wtforms-alchemy
unidecode
flask-uploads
pagseguro==0.1.9.dev0
babel
Pillow==2.8.2
cffi==1.4.2
flask-bcrypt